header {
    background-color:#780000;
    display: grid;
    grid-template-columns:  150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color:#780000;
    color:black;
    padding:25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}